<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Foreground Service -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Android 14+ specialUse -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <!-- Android 13+ 通知 -->
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- 端末再起動後 -->
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 画面OFFでもCPUを動かす -->
    <uses-permission
        android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nothing1GlyphController"
        android:label="Nothing 1 Glyph Controller">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- LED制御本体 -->
        <service
            android:name=".LEDControlService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false"
            android:foregroundServiceType="specialUse">

            <!-- specialUseの用途説明 -->
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Continuous root-controlled LED hardware brightness animation" />

        </service>

        <!-- 再起動時の自動復帰 -->
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

        </receiver>

    </application>

</manifest>